<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoCVhePNM_ihLPatDQB-6eBEg-nRaYc4A</string>
	<key>GCM_SENDER_ID</key>
	<string>37924802634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setashim155.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-8ed1d</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-8ed1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37924802634:ios:f99b9ff057a8c809b4d6b3</string>
</dict>
</plist>